<div class="jumbotron text-center mt-4 d-flex align-items-center">
  <div class="container">
    <h1 class="display-3 text-white text-uppercase font-weight-bold">STOCK TRACKER</h1>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-success btn-lg btn-xlarge" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-info btn-lg btn-xlarge" %>
  </div>
</div>